<footer class="footer-container">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div>
                    <span class="footer-inline-element">Términos y condiciones</span>
                    <span class="footer-inline-element">Políticas de privacidad</span>
                    <span class="footer-inline-element">Contáctanos</span>
                </div>
                <p class="copyright-element">Copyright © 2009 - 2020</p>
            </div>
            <div class="col-6 text-right">
                <p class="who-we-are who-we-are-name">Inmobiliaria Milenio.</p>
                <p class="who-we-are who-we-are-years">25 años a su servicio.</p>
            </div>
        </div>
       
        
    </div>
</footer>