<div class="row">
    <div class="col-8 background-white pd-25" style="width: 95%;">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery background-white"></ngx-gallery>
       
    </div>
    <div class="col-4 consultar-propiedad-container">
        <div class="col-12 background-white pd-25">
            <h6 class="consultar-header">Consultar acerca de esta propiedad</h6>        
            <div class="consult-form-container">
                <form action="">
                    <div class="text-left">
                        <input  type="text" id="phoneNumber" name="phoneNumber" placeholder="Teléfono.." required>
                    </div>

                    <div class="text-left">
                        <input type="text" id="name" name="name" placeholder="Nombre..">
                    </div>
                
                    <div class="text-left">
                        <textarea id="message" name="message" placeholder="Déjenos un mensaje.." class="message-area" ></textarea>
                    </div>
                    <input type="submit" value="Enviar consulta" class="send-consult-property">
                </form>
            </div>
            <div class="text-left">
                <button class="btn btn-secondary button-action-aditional button-action-aditional-first"><i class="fas fa-phone icon-addition-action"></i>Quiero que me llamen</button>
            </div>

        </div>     
    </div>
</div>

<div class="row  mt-25">
    <div class="col-8 background-white pd-25">
        <div class="row info-icon-text-super-container mt-50 mb-50">
            <div class="col-2 info-icon-text-container">
                <div class="row">
                    <i class="fas fa-home icon-addition-action info-icon-property"></i>
                </div>
                
                <div class="row">
                    <p class="info-icon-text">Apto.</p>
                </div>
            </div>

            <div class="col-2 info-icon-text-container">
                <div class="row">
                    <i class="fas fa-bed icon-addition-action info-icon-property"></i>
                </div>
                
                <div class="row">
                    <p class="info-icon-text">3 dorms</p>
                </div>
            </div>

            <div class="col-2 info-icon-text-container">
                <div class="row">
                    <i class="fas fa-bath icon-addition-action info-icon-property"></i>
                </div>
                
                <div class="row">
                    <p class="info-icon-text">2 baños</p>
                </div>
            </div>

            <div class="col-2 info-icon-text-container">
                <div class="row">
                    <i class="fas fa-chart-area icon-addition-action info-icon-property"></i>
                </div>
                
                <div class="row">
                    <p class="info-icon-text">200 m<sup>2</sup></p>
                </div>
            </div>

            <div class="col-2 info-icon-text-container">
                <div class="row">
                    <i class="fas fa-tree icon-addition-action info-icon-property"></i>
                </div>
                
                <div class="row">
                    <p class="info-icon-text">450 m<sup>2</sup></p>
                </div>
            </div>

            <div class="col-2 info-icon-text-container">
                <div class="row">
                    <i class="fas fa-warehouse icon-addition-action info-icon-property"></i>
                </div>
                
                <div class="row">
                    <p class="info-icon-text">Sin garaje</p>
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-12">
                <h4>Características</h4>
            </div>
            <div class="col-6">
                <ul>
                    <li class="value-key-type-char-list-element"><div class="value-key-type-char"><span class="key-type-char">Reference</span><span class="value-type-char">Xs6587</span></div></li>
                    <li class="value-key-type-char-list-element"><div class="value-key-type-char"><span class="key-type-char">Reference</span><span class="value-type-char">Xs6587</span></div></li>
                    <li class="value-key-type-char-list-element"><div class="value-key-type-char"><span class="key-type-char">Reference</span><span class="value-type-char">Xs6587</span></div></li>
                    <li class="value-key-type-char-list-element"><div class="value-key-type-char"><span class="key-type-char">Reference</span><span class="value-type-char">Xs6587</span></div></li>
                    <li class="value-key-type-char-list-element"><div class="value-key-type-char"><span class="key-type-char">Reference</span><span class="value-type-char">Xs6587</span></div></li>
                    <li class="value-key-type-char-list-element"><div class="value-key-type-char"><span class="key-type-char">Reference</span><span class="value-type-char">Xs6587</span></div></li>
                    <li class="value-key-type-char-list-element"><div class="value-key-type-char"><span class="key-type-char">Reference</span><span class="value-type-char">Xs6587</span></div></li>
                </ul>
            </div>
            <div class="col-6">
                <ul>
                    <li class="value-key-type-char-list-element"><div class="value-key-type-char"><span class="key-type-char">Reference</span><span class="value-type-char">Xs6587</span></div></li>
                    <li class="value-key-type-char-list-element"><div class="value-key-type-char"><span class="key-type-char">Reference</span><span class="value-type-char">Xs6587</span></div></li>
                    <li class="value-key-type-char-list-element"><div class="value-key-type-char"><span class="key-type-char">Reference</span><span class="value-type-char">Xs6587</span></div></li>
                    <li class="value-key-type-char-list-element"><div class="value-key-type-char"><span class="key-type-char">Reference</span><span class="value-type-char">Xs6587</span></div></li>
                    <li class="value-key-type-char-list-element"><div class="value-key-type-char"><span class="key-type-char">Reference</span><span class="value-type-char">Xs6587</span></div></li>
                    <li class="value-key-type-char-list-element"><div class="value-key-type-char"><span class="key-type-char">Reference</span><span class="value-type-char">Xs6587</span></div></li>
                    <li class="value-key-type-char-list-element"><div class="value-key-type-char"><span class="key-type-char">Reference</span><span class="value-type-char">Xs6587</span></div></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4">

    </div>
</div>