.real-state-services-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.real-state-services-info-header{
    margin-bottom: 40px;
}

.real-state-services-info-container{
    margin-bottom: 50px;
}

.real-state-services-images{
    width: 90%;
}