<div class="container">
    
    <div class="row background-white pd-75 mb-25">
        <div class="col-12 text-center mb-50">
            <h2>Servicios Inmobiliarios</h2>
        </div>

        <div class="row real-state-services-info-container">            
            <div class="col-6 pl-50">
                <img class="real-state-services-images" src="../../../assets/img/house2.png" alt="">
            </div>
            
            <div class="col-6 real-state-services-info pd-75">
                <h2 class="real-state-services-info-header">¿Necesitas ayuda ventiendo tu inmueble?</h2>
                <p>Si quieres vender tu mueble, no dudes en contactarnos, realizamos tasación libre de costos.</p>
                <button class="btn btn-dark">Contáctanos</button>
            </div>
        </div>

        <div class="row real-state-services-info-container">           
            <div class="col-6 real-state-services-info pd-75">
                <h2 class="real-state-services-info-header">¿Necesitas ayuda rentando tu inmueble?</h2>
                <p>Si quieres rentar tu mueble, no dudes en contactarnos, realizamos tasación libre de costos.</p>
                <button class="btn btn-dark">Contáctanos</button>
            </div> 

            <div class="col-6 pl-50">
                <img class="real-state-services-images" src="../../../assets/img/house2.png" alt="">
            </div>
        </div>

        <div class="row real-state-services-info-container">            
            <div class="col-6 pl-50">
                <img class="real-state-services-images" src="../../../assets/img/house2.png" alt="">
            </div>
            
            <div class="col-6 real-state-services-info pd-75">
                <h2 class="real-state-services-info-header">¿Quieres restaurar tu inmueble?</h2>
                <p>Si quieres restaurar tu mueble, no dudes en contactarnos, realizamos tasación libre de costos.</p>
                <button class="btn btn-dark">Contáctanos</button>
            </div>
        </div>
    </div>
</div>