<section class="header-container">
    <div class="sub-section-container top-sub-section-container">
        <div class="container">
            <div class="row">
                <div class="col-8 logo-phrase-container">
                    <img class="logo-website" src="../../../assets/img/logo/logo.png" alt="">
                    <span class="phrase-website">Somos una inmobiliaria diferente.</span>
                </div>
                <div class="col-4 login-events-container">
                    <span class="login-events-header">Iniciar Sesión</span>
                    <span class="login-events-header register-event-header">Registrarse</span>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-section-container">
        <div class="container nav-section-container">
            <div class="row">

                <div class="col-3">
                    
                </div>
                <div class="col-9">
                    <nav class="text-right">
                        <ul class="nav-menu-list text-right">
                            <li class="nav-menu-item"><a [routerLinkActive]="['is-active-router-link']" routerLink="/inicio">Inicio</a></li>
                            <li class="nav-menu-item"><a [routerLinkActive]="['is-active-router-link']" routerLink="/inmuebles">Inmuebles</a></li>
                            <li class="nav-menu-item"><a [routerLinkActive]="['is-active-router-link']" routerLink="/servicios-inmobiliarios">Servicios inmobiliarios</a></li>
                            <li class="nav-menu-item"><a [routerLinkActive]="['is-active-router-link']" routerLink="/quienes-somos">¿Quiénes Somos?</a></li>
                            <li class="nav-menu-item"><a [routerLinkActive]="['is-active-router-link']" routerLink="/contactanos">Contáctenos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
