.who-we-are-section{
    margin-bottom: 40px;
}

.who-we-are-main-section{
    margin-bottom: 50px;
}

.pocas-veces-text{
    color: #da2027;
    opacity: 0.7;
    font-size: 13px;

}

.who-we-are-content-container{
    padding: 25px;
    margin-bottom: 25px;
}

.who-we-are-content-aside{
    padding: 25px;
    margin-bottom: 25px;
    width: 95%;
}

.background-white{
    background-color: #FFF;
}

.who-we-are-company-description{
    padding: 25px;
    width: 95%;
}

.who-we-are-contact-data{
    margin-bottom: 15px;
}

.who-we-are-contact-element{
    margin-bottom: 7px;
}

.contact-data-icon{
    padding: 10px;
    border-radius: 50%;
    background-color: #f783ac;
    color: #FFF;
    margin-right: 10px;
}