<div class="who-we-are-container">
    <div class="row">
        <div class="col-md-4">
            <div class="col-md-12 background-white who-we-are-content-aside">                
                <ngb-carousel *ngIf="images">
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[0]" alt="Random first slide">
                      </div>
                      <!-- <div class="carousel-caption">
                        <h3>First slide label</h3>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                      </div> -->
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[1]" alt="Random second slide">
                      </div>                     
                    </ng-template>
                    <ng-template ngbSlide>
                      <div class="picsum-img-wrapper">
                        <img [src]="images[2]" alt="Random third slide">
                      </div>
                    </ng-template>
                  </ngb-carousel>
            </div>

            <div class="col-md-12 background-white who-we-are-company-description">
                <h5 class="who-we-are-contact-data">Datos de contacto:</h5>
                <div class="who-we-are-contact-element"><i class="fas fa-phone contact-data-icon"></i><span> 09395486</span></div>
                <div class="who-we-are-contact-element"><i class="fas fa-location-arrow contact-data-icon"></i><span> Calle X esquina Y</span></div>
                <div class="who-we-are-contact-element"><i class="fas fa-home contact-data-icon"></i><span> La Blanqueada</span></div>
                <div class="who-we-are-contact-element"><i class="far fa-envelope contact-data-icon"></i><span> inmobiliaria@gmail.com</span></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="col-md-12 background-white who-we-are-content-container">
                <section class="who-we-are-main-section">
                    <h5>UNA INMOBILIARIA QUE SUENA FUERTE EN EL BARRIO</h5>
                    <p class="pocas-veces-text">Pocas veces un comercio con pocos años de vida tiene tanto éxito, la <i>Inmobiliaria Milenio</i> ha logrado en poco tiempo revolucionar el barrio con alquileres y ventas.</p>
                </section>
                <section class="who-we-are-section">
                    <h6>¿Por qué en La Blanqueada y no en otro barrio?</h6>
                    <p>Estuvimos durante años en Bvar Artigas y San Martin y una de las zonas que más trabajabamos era La Blanqueada, al tener la suerte de tener local propio en el mejor punto de este barrio y donde en esta esquina no falta ningun tipo de comercio (Cadiz y Herrera), a excepción de inmobiliaria, decidimos trasladarnos.</p>
                </section>
            
                <section class="who-we-are-section">
                    <h6>¿Cuál es el secreto de que alquilan con rapidez increíble las propiedades?</h6>
                    <p>No hay ningun secreto, todo se basa en actitud y orden; trabajamos todos los dias de la semana, llevamos una historia con cada cliente. En esa historia a parte de los datos personales se indican las pripiedades que ha visitado, la opinion de cada una de ellas y exactamente lo que busca, por eso al entrar una propiedad en alquiler ni necesitamos avisarlas y muchas veces en el dia queda alquilada.</p>
                </section>
                <section class="who-we-are-section">
                    <h6>¿Por qué se dice que no es el mejor momento para la venta?</h6>
                    <p>Hay mucho de cierto, pero la base está en la tasacion de la propiedad, no tomamos una propiedad que esté fuera de precio. Nosotros tenemos la obligación de orientar al propietario, para no crear una falsa expectativa ni una pérdida de su tiempo, tasamos en el valor real del mercado y si está todo bien, vendemos la propiedad en un plazo no mayor a 90 días.</p>
                    <p>Tenemos arquitectos para regularizaciones de planos o transformar un padrón único en prop. horizontal, escribano que se encarga de escrituras y demás certificaciones, abogado para desalojos, divorcios etc y un servicio de mantenimiento completo ( albañilería, sanitaria, electricidad y demás), para refaccionar la vivienda que así lo requiera.</p>
                </section>
                
                <section class="who-we-are-section">
                    <h6>¿Qué es su inmobiliaria en dos palabras?</h6>
                    <ul>
                        <li><strong>Honestidad</strong>: Saber que la propiedad que el cliente pone en nuestras manos, es el fruto de su trabajo, y sería una falta de repeto no valorarlo.</li>
                        <li><strong>Seriedad</strong>: En el momento de cualquier negociación ser totalmente transparente, sin engaños. Las dos partes se lo merecen.</li>
                    </ul>
                </section>
            
                <section class="who-we-are-section-last">
                    <h6>¿Cómo se hacen las tasaciones?</h6>
                    <p>No se firma ningun tipo de contrato y no necesariamente tiene que serexclusiva porque nos sentimos totalmente seguros de nosotros mismos, si algun colega tiene algun cartel de venta, nosotros no lo ponemos, no lo necesitamos.</p>
                    <p><strong>¡Somos una inmobiliaria distinta!</strong></p>
                </section>    
            </div>            
        </div>
    </div>
    
</div>