<div class="property-container">
    <section class="house-image-container">
        <img class="house-image" src="../../../assets/img/house.png" alt="">
    </section>

    <section class="property-description-container">
        <div> 
            <div class="hearth-icon-container"><i class="far fa-heart hearth-icon"></i></div>            
            <p class="property-description-price">$ 500</p> 
            <span class="property-description-length">2 dorms | 90 m<sup>2</sup> cubiertos</span> 
        </div>
    </section>

    <section class="property-description-container">
        <div> 
            <p class="property-description-price">Casa en alquiler temporal</p> 
            <span class="property-description-length">Cordón</span> 
        </div>
    </section>
</div>