<div class="row">
   
    <div class="col-md-3 section-filter-complete">

        <section class="section-filter">
            <dl class="section-filter-group">
                <dt class="section-filter-header">Inmuebles en Alquiler en Montevideo</dt>
                <dd class="section-filter-element"><span>11 resultados</span></dd>
            </dl>
        </section>

        <section class="section-filter">
            <dl class="section-filter-group">
                <dt class="section-filter-header">Ordenar publicaciones</dt>
                <dd class="section-filter-element"><span>Más relevantes</span></dd>
            </dl>
        </section>

        <section class="section-filter">
            <dl class="section-filter-group">
                <dt class="section-filter-header">Inmueble</dt>
                <dd class="section-filter-element"><span>Casas <span class="section-filter-element-count">(50)</span></span></dd>
                <dd class="section-filter-element"><span>Apartamentos <span class="section-filter-element-count">(20)</span></span></dd>
            </dl>
        </section>

        <section class="section-filter">
            <dl class="section-filter-group">
                <dt class="section-filter-header">Barrio</dt>
                <dd class="section-filter-element"><span>Cordón <span class="section-filter-element-count">(5)</span></span></dd>
                <dd class="section-filter-element"><span>Centro <span class="section-filter-element-count">(15)</span></span></dd>
                <dd class="section-filter-element"><span>Barrio Sur <span class="section-filter-element-count">(22)</span></span></dd>
                <dd class="section-filter-element"><span>Pocitos <span class="section-filter-element-count">(24)</span></span></dd>
                <dd class="section-filter-element"><span>Punta Carretas <span class="section-filter-element-count">(4)</span></span></dd>
            </dl>
        </section>

        <section class="section-filter">
            <dl class="section-filter-group">
                <dt class="section-filter-header">Precio</dt>
                <dd class="section-filter-element"><span>Hasta $ 10 000 <span class="section-filter-element-count">(5)</span></span></dd>
                <dd class="section-filter-element"><span>De $ 10 000 A $ 20 000 <span class="section-filter-element-count">(60)</span></span></dd>
                <dd class="section-filter-element"><span>Más de $ 20 000 <span class="section-filter-element-count">(34)</span></span></dd>
            </dl>
        </section>

        <section class="section-filter">
            <dl class="section-filter-group">
                <dt class="section-filter-header">Dormitorios</dt>
                <dd class="section-filter-element"><span>1 dormitorio <span class="section-filter-element-count">(5)</span></span></dd>
                <dd class="section-filter-element"><span>2 dormitorios <span class="section-filter-element-count">(15)</span></span></dd>
                <dd class="section-filter-element"><span>3 dormitorios <span class="section-filter-element-count">(22)</span></span></dd>
                <dd class="section-filter-element"><span>4 o más dormitorios <span class="section-filter-element-count">(24)</span></span></dd>
            </dl>
        </section>

        <section class="section-filter">
            <dl class="section-filter-group">
                <dt class="section-filter-header">Baños</dt>
                <dd class="section-filter-element"><span>1 baño <span class="section-filter-element-count">(5)</span></span></dd>
                <dd class="section-filter-element"><span>2 baños <span class="section-filter-element-count">(15)</span></span></dd>
                <dd class="section-filter-element"><span>3 baños <span class="section-filter-element-count">(22)</span></span></dd>
                <dd class="section-filter-element"><span>4 o más baños <span class="section-filter-element-count">(24)</span></span></dd>
            </dl>
        </section>
    </div>
    <div class="col-md-9 display-properties-container">
        <div class="row">

            <section class="col-md-4 property-super-container">
                <app-property></app-property>
            </section>
            <section class="col-md-4 property-super-container">
                <app-property></app-property>
            </section>
            <section class="col-md-4 property-super-container">
                <app-property></app-property>
            </section>
            <section class="col-md-4 property-super-container">
                <app-property></app-property>
            </section>
            <section class="col-md-4 property-super-container">
                <app-property></app-property>
            </section>
            <section class="col-md-4 property-super-container">
                <app-property></app-property>
            </section>
            <section class="col-md-4 property-super-container">
                <app-property></app-property>
            </section>
            <section class="col-md-4 property-super-container">
                <app-property></app-property>
            </section>
            <section class="col-md-4 property-super-container">
                <app-property></app-property>
            </section>
            <section class="col-md-4 property-super-container">
                <app-property></app-property>
            </section>
            <section class="col-md-4 property-super-container">
                <app-property></app-property>
            </section>
            
        </div>
    </div>
</div>