.section-filter-complete{
    // background-color: #FFF;
    // border: 1px solid rgba(0,0,0,.2);
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.section-filter{
    margin-bottom: 25px;
}

.section-filter-element{
    font-size: 14px;
    color: rgba(0,0,0,.75);
}

.section-filter-element-count{
    font-size: 14px;
    color: rgba(0,0,0,.35);
}

.section-filter-element:hover{
    color: rgba(0,0,0,1);
    cursor: pointer;
}

.section-filter-header{
    color: rgba(0,0,0,.9);
    font-weight: 600;
    margin-bottom: 10px;
}

.property-super-container{
    margin-bottom: 50px;
    padding-right: 0px !important;
}

.display-properties-container{
    padding-top: 20px;
}

.busquedas-relacionadas-message{
    opacity: 0.6;
    font-size: 13px;
}

.min-max-price-container{
    display: inline-flex;
}

.min-max-price{
    width: 70px;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 5px;
    height: 27px;    
}

.min-price{
    margin-right: 10px;
}

.max-price{
    margin-left: 10px;
}

.min-max-price-separator{
    letter-spacing: -1px;
    position: relative;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.icon-search-price{
    padding: 8px 8px 4px 10px;
    border-radius: 50%;
    background-color: #3483fa;
    color: #FFF;
    margin-left: 10px;
    font-size: 11px;
    opacity: 0.7;
}

.icon-search-price:hover{
    cursor: pointer;
    transform: scale(1.1);
}